[Unit]
Description=VDSM dcontainer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/run
ExecStart=/usr/bin/docker start vdsmc
ExecStop=/usr/bin/docker stop vdsmc

[Install]
WantedBy=multi-user.target